select,#kickofflabs_skip_text {
    width: 200px;
}

input[type=radio] {
    width: 20px;
}

#kickofflabs_repeat_visitors_cookie {
    width: 30px;
}

.welcome-gate-column {
    width: 33%;
    float: left;
}